{{define "base"}}
<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{template "tittel" .}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"> -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
        <h1><a href="/">Scenariobanken</a></h1>
    </header>
    {{template "nav" .}}
    <main>
        {{template "main" .}}
    </main>
    <footer>Laget med <a href="https://go.dev/">Go</a> og <a href="https://watercss.kognise.dev/">Water.css</a> i {{.CurrentYear}}</footer>
    <script src="index.js"></script>
  </body>
</html>
{{end}}